@{
	Layout = "~/Views/Shared/_Layout1.cshtml";
}

@model LoginViewModel

<link href="/CSS/Login.css" rel="stylesheet" />

<div class="container">
	<div class="card mt-5">
		<div class="card-header"><h4>Giriş Yap</h4></div>
		<div class="card-body">					
			<form method="post">	
				<div class="mb-3">
					<label class="form-label">E-Posta</label>
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:red" })
					
				</div>
				<div class="mb-3">
					<label class="form-label">Şifre</label>
					@Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password" })
					@Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
				</div>
				<div id="huhu">
					<button type="submit" class="btn btn-primary" >Giriş Yap</button>
				</div>
					
				<div class ="mb-3" style="text-align:center">
					<a href="/Home/SignUp">Hesabın yok mu ? Hemen Kaydol</a>
				</div>
				@if (ViewBag.LoginError != null)
				{
					<div class="alert alert-danger" style="width=50px;">
						<div>@ViewBag.LoginError</div>
					</div>
				}
					
			</form>			
		</div>		
	</div>
</div>


